:root {
    --cell-height: 8rem;
    --cell-width: 8rem;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 2rem;
}

table {
    border-collapse: collapse;
}

.cell {
    height: var(--cell-height);
    width: var(--cell-width);
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-row > td:first-child {
    border: solid black;
    border-width: 0 0.5rem 0.5rem 0;
}

.top-row > td:nth-child(2) {
    border: solid black;
    border-width: 0 0.5rem 0.5rem 0.5rem;
}

.top-row > td:last-child {
    border: solid black;
    border-width: 0 0 0.5rem 0.5rem;
}

.middle-row > td:first-child {
    border: solid black;
    border-width: 0.5rem 0.5rem 0.5rem 0;
}

.middle-row > td:nth-child(2) {
    border: solid black;
    border-width: 0.5rem 0.5rem 0.5rem .5rem;
}

.middle-row > td:last-child {
    border: solid black;
    border-width: 0.5rem 0 0.5rem 0.5rem;
}

.bottom-row > td:first-child {
    border: solid black;
    border-width: 0.5rem 0.5rem 0 0;
}

.bottom-row > td:nth-child(2) {
    border: solid black;
    border-width: 0.5rem 0.5rem 0 0.5rem;
}

.bottom-row > td:last-child {
    border: solid black;
    border-width: 0.5rem 0 0 0.5rem;
}